<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voa Rio</title>

    <link rel="stylesheet" type="text/css" href="..//EstiloMolde.css">

    <style>
        h1{text-align: left; margin-left: 50px;}
        hr{size: 5px;}
    </style>

</head>

<body>
    <header>
        <div class="div1">
            <nav class="nav1">
                <p>
                    <a class="menu" href="index.html"> <b>Home</b></a>
                    <a class="menu" href="historia.html"><b>Quem Somos</b></a>
                    <a class="menu" href="galeria.html"><b>Fotos</b></a>
                    <a class="menu" href="video.html"><b>Videos</b></a>
                    <a class="menu" href="reserva.html"><b>Reservar Voo</b></a>
                    <a class="menu" href="faleConosco.html"><b>Fale Conosco</b></a>
                </p>
            </nav>
            <div class="div2">
                <img src="../static/hang-gliding-99100_960_720.png" alt="Não carregou" height="100%"
                    width="100%">

            </div>
        </div>
    </header>
    <main>
        <div class="div3">
        </div>
        <div class="div4" style="position: absolute;
                    height: 850px;
                    width: 1225px;
                    margin-top: 500px;
                    margin-left: 150px;
                    ;">
            <br>
            <div style="margin-left: 5px;
                        margin-top: 5px;
                        height: 400px;
                        width: 1220px;
                        position: absolute;">
                    <h1>Sobre a Voa Rio</h1>
                    <hr align="left" width="90%" color="white">
                    <br>
                    <p class="Pbase">
                        Empresa com sede no Rio de Janeiro reconhecida nacional e internacionalmente pela qualidade – foco na segurança e seriedade com que trabalha nos segmentos 
                        de Turismo de Aventura e Esportes Radicais.
                    </p>
                    
                    <h1>Endereço</h1>
                    <hr align="left" width="90%" color="white">
                    <br>
                    <p class="Pbase">
                       <b>Rua:</b> DezenoveX de Fevereiro Nº XX – Botafogo – Rio de Janeiro – Brasil <br>
                    </p>
                    <p class="Pbase">
                        <b>Ponto de Referência:</b> Metrô de Botafogo (5 min) <br>
                    </p>
                    
                    <h1>Missão</h1>
                    <hr align="left" width="90%" color="white">
                    <br>
                    <p class="Pbase">
                        Promover, com total segurança, turismo de aventura e esportes radicais para melhoria da qualidade de vida das pessoas
                        proporcionando de forma divertida e com responsabilidade social e ambiental, bem – estar e novas amizades.
                    </p><br>    

                    <h1>Visão</h1>
                    <hr align="left" width="90%" color="white">
                    <br>
                    <p class="Pbase">
                        Ser líder de desempenho, qualidade e satisfação, reconhecida nacional e internacionalmente pela busca contínua da excelência nos serviços, 
                        proporcionando aos clientes os mais seguros momentos de diversão e bem-estar usufruindo da biodiversidade e do contato com novos amigos.
                    </p><br>
            </div>
            
        </div>
        

    </main>
    <footer>
        <nav class="div5">
            <a href="https://www.youtube.com"><img src="../static/youtube.png" alt="Náo carregou" height="50px" width="50px"></a>
            <a href="https://www.instagram.com"><img src="../static/pngegg.png" alt="Náo carregou" height="50px" width="50px"></a>
            <br>
            <p class="Pfinal">
                ASADELTA - Companhia Turistica / CNPJ: 00.000.000/0000-00 / Inscrição
                Estadual: 00.000.00-0 / Endereço Rua Queda Livre, 000 - Rio de Janeiro, RJ - 000000-000 </p>
        </nav>


    </footer>




</body>

</html>