<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voa Rio</title>

    <link rel="stylesheet" type="text/css" href="..//EstiloMolde.css">
</head>

<body>
    <header>
        <div class="div1">
            <nav class="nav1">
                <p>
                    <a class="menu" href="index.html"> <b>Home</b></a>
                    <a class="menu" href="historia.html"><b>Quem Somos</b></a>
                    <a class="menu" href="galeria.html"><b>Fotos</b></a>
                    <a class="menu" href="video.html"><b>Videos</b></a>
                    <a class="menu" href="reserva.html"><b>Reservar Voo</b></a>
                    <a class="menu" href="faleConosco.html"><b>Fale Conosco</b></a>
                </p>
            </nav>
            <div class="div2">
                <img src="../static/hang-gliding-99100_960_720.png" alt="Não carregou" height="100%" width="100%">

            </div>
        </div>
    </header>
    <main>
        <div class="div3">
        </div>
        <div class="div4" style="position: absolute;
                    height: 710px;
                    width: 1225px;
                    margin-top: 500px;
                    margin-left: 150px;
                    ;">
            <h1>Reserva de Voo</h1>
            <hr align="center" size="3px" width="80%" color="white">
            <br>
            <form action="">
                <p class="Pbase">O valor do voo é de <b><u>R$600,00</u></b>, está incluso o "transfer" da praia de São
                    Conrado até a Pedra Bonita e as filmagens. Marque a data do voo, completando todos os campos aqui apresentados. Importante mencionar, 
                    trabalhamos com um limite de 5 reservas por dia.</p>
                <p class="Pbase">Iremos confirmar sua reserva, respondendo-o por e-mail. Obrigado!!!</p>
                <br>
                <fieldset>
                    <legend>Reservar Voo:</legend>
                    <div class="arrumarP1">
                        <p> <label class="labels" for="inome"><b>Nome Completo:</b></label>
                            <input class="inputGrande" type="text" name="nome" id="inome">
                        </p>
                        <p><label class="labels" for="imail"><b>E-mail:</b></label>
                            <input class="inputGrande" type="email" name="email" id="iemail">
                        </p>
                        <p><label class="labels" for="idataReserva"><b>Data da Reserva:</b></label>
                            <input class="inputGrande" type="date" id="idataReserva">
                        </p>

                    </div>
                    <div class="arrumarP2">
                        <p><label class="labels" for="iCPF"><b>CPF:</b></label>
                            <input placeholder="000.000.000-00" type="text" name="CPF" id="icpf">
                        </p>
                        <p><label class="labels" for="itelefone"><b>Telefone:</b></label>
                            <input type="tel" name="telefone" id="itelefone">
                        </p>
                        <p><label class="labels" for="idataNasc"><b>Data de Nascimento:</b></label>
                            <input type="date" name="dataNasc" id="idataNasc">
                        </p>
                    </div>
                </fieldset>
                <!--opção de adicionar uma nova reserva-->
                <input onclick="newItem()" class="botao" type="button" value="Enviar">

            </form>
        </div>
        <!-- Tabela com items existentes -->
        <section class="items">
            <table id="myTable">
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Reserva</th>
                    <th><img src="https://cdn-icons-png.flaticon.com/512/126/126468.png" width="15px" height="15px"></th>
                </tr>
            </table>
        </section>
    </main>
    <footer>
        <nav class="div5">
            <a href="https://www.youtube.com"><img src="../static/youtube.png" alt="Náo carregou"
                    height="50px" width="50px"></a>
            <a href="https://www.instagram.com"><img src="../static/pngegg.png" alt="Náo carregou"
                    height="50px" width="50px"></a>
            <br>
            <p class="Pfinal">
                ASADELTA - Companhia Turistica / CNPJ: 00.000.000/0000-00 / Inscrição
                Estadual: 00.000.00-0 / Endereço Rua Queda Livre, 000 - Rio de Janeiro, RJ - 000000-000 </p>
        </nav>

    </footer>

    <script src="..//scripts.js"></script>

</body>

</html>