<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voa Rio</title>

    <link rel="stylesheet" type="text/css" href="..//EstiloMolde.css">

</head>

<body>
    <header>
        <div class="div1">
            <nav class="nav1">
                <p>
                    <a class="menu" href="index.html"> <b>Home</b></a>
                    <a class="menu" href="historia.html"><b>Quem Somos</b></a>
                    <a class="menu" href="galeria.html"><b>Fotos</b></a>
                    <a class="menu" href="video.html"><b>Videos</b></a>
                    <a class="menu" href="reserva.html"><b>Reservar Voo</b></a>
                    <a class="menu" href="faleConosco.html"><b>Fale Conosco</b></a>
                
                </p>
            </nav>
            <div class="div2">
                <img src="../static/hang-gliding-99100_960_720.png" alt="Não carregou" height="100%"
                    width="100%">

            </div>
        </div>
    </header>
    <main>
        <div class="div3">
        </div>

        <div class="div4" style="position: absolute;
                    height: 410px;
                    width: 1225px;
                    margin-top: 500px;
                    margin-left: 150px;
                    ;">
            <br>
            <div style="margin-left: 5px;
                        margin-top: 5px;
                        height: 400px;
                        width: 600px;
                        position: absolute;">
                <h1>Quer sentir a emoção de um Salto?</h3>
                    <hr align="center" size="3px" width="80%" color="white">
                    <br>
                    <p class="Pbase">
                        Assista nosso video mostrando um voo completo com todas as etapas de verificação e treinamento com o instutor anteriores ao salto.
                    </p>
                    <p class="Pbase">Se o video já é emocionante, imagine você voando com a gente.</p>
            </div>
            <div style="margin-left: 601px;
                        margin-top: -15px;
                        height: 396px;
                        width: 608px;
                        position: absolute;
                        border-radius: 20px;
                        ">
                    <video src="../static/videoplayback.mp4" controls autoplay muted width="100%" height="100%"></video>
            </div>
        </div>
        <div class="div4" style="position: absolute;
                    height: 410px;
                    width: 1225px;
                    margin-top: 970px;
                    margin-left: 150px;
                    ;">
            <br>
            <div style="margin-left: 625px;
                        margin-top: 5px;
                        height: 400px;
                        width: 600px;
                        position: absolute;">
                <h1>E aí, perdeu o folego?</h3>
                    <hr align="center" size="3px" width="80%" color="white">
                    <br>
                    <p class="Pbase">
                        Outro video mostrando diferentes sensações.
                    </p>
            </div>
            <div style="margin-left: 15px;
                        margin-top: -23px;
                        height: 400px;
                        width: 615px;
                        position: absolute;
                        border-radius: 20px;
                        ">
                    <video src="../static/videoplayback 2.mp4" controls width="100%" height="100%"></video>

            </div>
        </div>

    </main>
    <footer>
        <nav class="div5">
            <a href="https://www.youtube.com"><img src="../static/youtube.png" alt="Náo carregou" height="50px" width="50px"></a>
            <a href="https://www.instagram.com"><img src="../static/pngegg.png" alt="Náo carregou" height="50px" width="50px"></a>
            <br>
            <p class="Pfinal">
                ASADELTA - Companhia Turistica / CNPJ: 00.000.000/0000-00 / Inscrição
                Estadual: 00.000.00-0 / Endereço Rua Queda Livre, 000 - Rio de Janeiro, RJ - 000000-000 </p>
        </nav>


    </footer>




</body>

</html>